<section class="avatar">
    <div class="circle">
        <img height="80" width="80"
             src="{{ user_config.getAvatar() }}">
    </div>

    <div class="circle open" style="z-index:4;">
        <span></span>
        <span>
        <ul class="sub-menu">
            <li>
                <a href="/user/profile/settings">Profile Setting</a>
            </li>
		</ul>
        </span>
        <span></span>
    </div>
</section>