<section class="dashlet-wrapper">

    <div class="name">
        {% block name %}

        {% endblock %}
    </div>

    <div class="details">
        {% block details %}

        {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
</section>