form + form {
    margin-top: 30px;
}

div[class^="form-"] > div {
    display: flex;
    justify-content: space-around;
}

div[class^="form-"] > div + div {
    margin-top: 20px;
}

.configs-wrapper, .post-form-wrapper {
    width: 400px;
    top: 20%;
    position: relative;
}

.configs-wrapper form, .post-form-wrapper form {
    padding: 10px;
}

.configs-wrapper form input, .configs-wrapper form label, .post-form-wrapper form input, .post-form-wrapper form textarea, .post-form-wrapper form label {
    min-width: 150px;
}

form button{
    margin-top:10px;
}
