<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/hamburger-menu.css') }}">
    {% endblock %}

    {% block headJavascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
{% block body %}

    {% include 'components/hamburger_menu/menu.html.twig' %}

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/hamburger-menu.js') }}"></script>
{% endblock %}
</body>
</html>
