<section class="post-wrapper">
    <section class="info-bar">
        <ul>
            <li>{{ post.author }}</li>
            <li>{{ post.create_date }}</li>
        </ul>
    </section>

    <section class="text-bar">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text }}</p>
    </section>
</section>